# Environment variables
.env

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# SQLite database
db.sqlite3

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db
.env
backend/.env
backend/env.txt

# User uploaded media
backend/media/
